﻿@page "/app/user/settings"
@using ChipBot.Core.Shared.Api
@using ChipBot.Core.Web.Models
@inject HttpClient httpClient
@inject IOrderedEnumerable<UserSettingsItemAttribute> userSettingItems

<h1>Settings</h1>
<div class="d-flex flex-column col-12 col-md-9 col-lg-6">
    @foreach (var item in userSettingItems)
    {
        <div class="m-1 mb-3">
            <h2>@item.Name</h2>
            <div>
                <DynamicComponent Type="@item.ComponentType" />
            </div>
        </div>
    }
</div>

@code {
    [CascadingParameter]
    private WebAppState WebAppState { get; set; }
}