﻿@using System.Reflection
@using ChipBot.Client.Services
@using ChipBot.Core.Web.Abstract
@inject List<Assembly> assemblies
@inject ThemeManager themeManager
@inject IOrderedEnumerable<NavItem> navItems

@if (otherAssemblies != null)
{
    <CascadingAuthenticationState>
        <Router AppAssembly="thisAssembly" AdditionalAssemblies="otherAssemblies" OnNavigateAsync="OnNavigateAsync">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <Authorizing>
                        <MainLayoutText Title="Authorizing...">
                            Authorizing...
                        </MainLayoutText>
                    </Authorizing>
                    <NotAuthorized>
                        <MainLayoutText Title="Not Authorized">
                            You are not authorized to access this resource.
                        </MainLayoutText>
                    </NotAuthorized>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <MainLayoutText Title="Not Found">
                        Sorry, there's nothing at this address.
                    </MainLayoutText>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
}

@if (currentPage != null)
{
    <ChipTitle Title="@currentPage.Name" />
}
else
{
    <ChipTitle Title="Somewhere" />
}

@code {
    private Assembly thisAssembly;
    private IEnumerable<Assembly> otherAssemblies;
    private Dictionary<string, PageInfo> pagesDictionary;

    private PageInfo currentPage;

    protected override async Task OnInitializedAsync()
    {
        await themeManager.SetCurrentTheme();

        thisAssembly = typeof(App).Assembly;
        otherAssemblies = assemblies.Except(new List<Assembly>() { thisAssembly });

        pagesDictionary = navItems
            .Where(navItem => navItem is PageCategory)
            .Cast<PageCategory>()
            .SelectMany(category => category.Items)
            .Concat(navItems
                .Where(navItem => navItem is PageInfo)
                .Cast<PageInfo>()
            ).ToDictionary(page => page.Link);
    }

    private Task OnNavigateAsync(NavigationContext args)
    {
        var path = args.Path;

        if (string.IsNullOrWhiteSpace(path))
        {
            currentPage = null;
            return Task.CompletedTask;
        }

        if (path.Contains('?')) path = args.Path.Substring(0, args.Path.IndexOf('?'));

        path = path.TrimEnd('/');

        if (!path.StartsWith('/')) path = '/' + path;

        if (!pagesDictionary.TryGetValue(path, out currentPage))
        {
            currentPage = null;
        }

        return Task.CompletedTask;
    }
}