﻿@using ChipBot.Core.Web.Abstract

<li class="nav-item col-12">
    <NavLink href="@PageInfo.Link" class="nav-link text-center text-md-start text-truncate" aria-current="page" Match="@PageInfo.NavLinkMatch">
        <i class="@PageInfo.Icon"></i>
        <span class="d-none d-md-inline">@PageInfo.Name</span>
    </NavLink>
</li>

@code {
    [Parameter]
    public PageInfo PageInfo { get; set; }
}