﻿@using ChipBot.Core.Web.Abstract

<li class="nav-item col-12 rounded @(PageCategory.Expanded ? "my-1 bg-secondary bg-opacity-25": "")">
    <a role="button" class="nav-link text-truncate text-center text-md-start @(PageCategory.Expanded ? "bg-secondary bg-opacity-50": "")" @onclick="OnToggle">
        <i class="@PageCategory.Icon"></i>
        <span class="d-none d-md-inline">@PageCategory.Name</span>
    </a>

    <div class="collapse @(PageCategory.Expanded ? "show": "")">
        <ul class="ms-0 ms-md-4 nav nav-pills flex-column mb-auto small">
            @foreach (var pageInfo in PageCategory.Ordered)
            {
                <NavItemTemplate NavItem="pageInfo" AuthState="AuthState" />
            }
        </ul>
    </div>
</li>

@code {
    [Parameter]
    public PageCategory PageCategory { get; set; }

    [Parameter]
    public AuthenticationState AuthState { get; set; }

    private void OnToggle()
    {
        PageCategory.Expanded = !PageCategory.Expanded;
    }
}