﻿@using ChipBot.Core.Web.Extensions
@using ChipBot.Core.Web.Models

@if (ToastModel.IsSimple)
{
    <div class="toast show align-items-center @ColorClass" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                @if (!string.IsNullOrEmpty(ToastModel.Icon))
                {
                    <i class="me-1 @ToastModel.Icon"></i>
                }
                <span>@ToastModel.Message</span>
            </div>
            <button type="button" class="btn-close me-2 m-auto" @onclick="() => OnClose?.Invoke(ToastModel)" aria-label="Close"></button>
        </div>
    </div>
}
else
{
    <div class="toast show @ColorClass" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            @if (!string.IsNullOrEmpty(ToastModel.Icon))
            {
                <i class="me-1 @ToastModel.Icon"></i>
            }
            <strong class="me-auto">@ToastModel.Title</strong>
            @if (ToastModel.DateTime != null)
            {
                <small class="text-body-secondary">@ToastModel.DateTime.Value.Humanize()</small>
            }
            <button type="button" class="btn-close" @onclick="() => OnClose?.Invoke(ToastModel)" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            @ToastModel.Message
        </div>
    </div>
}

@code {
    [Parameter]
    public ToastModel ToastModel { get; set; }

    [Parameter]
    public Action<ToastModel> OnClose { get; set; }

    public string ColorClass => ToastModel.Color == null ? "" : $"text-bg-{ToastModel.Color.Value.ToKebabCase()} border-0";

    private bool isClosed = false;

    protected override void OnInitialized()
    {
        if (!ToastModel.IsImportant)
        {
            _ = CloseTimeout();
        }
    }

    private async Task CloseTimeout()
    {
        await Task.Delay(TimeSpan.FromSeconds(3));
        Close();
    }

    private void Close()
    {
        if (isClosed) return;
        isClosed = true;
        OnClose?.Invoke(ToastModel);
    }
}
