﻿@page "/app/home"
@attribute [PageInfo(Icon = "bi bi-house", Link = "/app/home", Name = "Home", Order = -1)]
@implements IAsyncDisposable
@inject IOrderedEnumerable<DashboardItemAttribute> dashboardItems
@inject IJSRuntime js
@inject LocalStorageService localStorage

<h1>Home</h1>
<div class="d-flex flex-wrap">
    <div class="m-1">
        <h2>Dashboard</h2>
        <div class="d-flex flex-wrap gap-3 align-items-start">
            @if (order != null)
            {
                foreach (var key in order)
                {
                    var item = dashboardItems.FirstOrDefault(i => i.ComponentType.Name == key);
                    if (item == null) continue;

                    <div class="card" draggable="true" id="@item.ComponentType.Name">
                        @if (item.Icon != null)
                        {
                            <div class="card-header"><i class="@item.Icon"></i> @item.Name</div>
                        }
                        else
                        {
                            <div class="card-header">@item.Name</div>
                        }

                        <div class="card-body">
                            <DynamicComponent Type="@item.ComponentType" />
                        </div>
                    </div>
                }
            }
        </div>

        <div tabindex="-1" class="position-fixed col-2 p-2 start-0 top-0 bottom-0 @(isDragging ? "d-flex" : "d-none")" role="dialog">
            <div class="d-flex flex-fill">
                <div id="dashboardTrash" class="p-3 bg-danger-subtle border border-danger rounded flex-fill d-flex align-items-center justify-content-center">
                    <i class="position-absolute bi bi-trash fs-1"></i>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private IJSObjectReference jsModule;
    private DotNetObjectReference<Home> objRef;

    private List<string> order;

    private bool isDragging = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await js.InvokeAsync<IJSObjectReference>("import", "/js/dashboard.js");
            objRef = DotNetObjectReference.Create(this);
            await jsModule.InvokeVoidAsync("init", objRef);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        order = await localStorage.GetValueAsync<List<string>>(localStorageKey);
        if (order == null)
        {
            order = dashboardItems.Select(item => item.ComponentType.Name).ToList();
        }
    }

    [JSInvokable]
    public Task OnDragStart()
    {
        isDragging = true;
        StateHasChanged();
        return Task.CompletedTask;
    }

    [JSInvokable]
    public async Task OnDragEnd(IEnumerable<string> order)
    {
        try
        {
            await localStorage.SetValueAsync(localStorageKey, order.ToList());
        }
        finally
        {
            isDragging = false;
            StateHasChanged();
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (jsModule != null) await jsModule.DisposeAsync();
        if (objRef != null) objRef.Dispose();
    }

    private const string localStorageKey = "home-dashboard-items";
}