html, body, #app {
    width: 100%;
    height: 100%;
}

#blazor-error-ui {
    display: none;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}

.global-loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
}

    .global-loader::after,
    .global-loader::before {
        content: '';
        width: 48px;
        height: 48px;
        border: 2px solid #FFF;
        position: absolute;
        left: 0;
        top: 0;
        box-sizing: border-box;
        animation: rotation 2s ease-in-out infinite;
    }

    .global-loader::after {
        border-color: var(--bs-primary);
        animation-delay: 1s;
    }

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
