﻿@using ChipBot.Client.Shared.App
@using ChipBot.Core.Shared.Constants
@using ChipBot.Core.Web.Abstract
@using ChipBot.Core.Web.Attributes
@using ChipBot.Core.Web.Models
@inherits LayoutComponentBase
@inject IOrderedEnumerable<NavItem> navItems
@inject IEnumerable<HeadItem> headItems
@inject DiscordCacheService discordCache

<HeadContent>
    @foreach (var headItem in headItems)
    {
        @if (headItem is HeadLinkItem headLinkItem)
        {
            <link href="@headLinkItem.Href" rel="@headLinkItem.Rel" />
        }
    }
</HeadContent>

<CascadingValue Value="webAppState">
    @if (webAppState.IsLoading)
    {
        <div class="h-100 w-100 position-absolute d-flex align-items-center justify-content-center bg-black bg-gradient bg-opacity-75" style="z-index:2000;">
            <span class="global-loader"></span>
        </div>
    }

    <div class="toast-container p-3" style="right:0;bottom:0;">
        @foreach (var toast in webAppState.GetToasts())
        {
            <Toast ToastModel="toast" OnClose="(t) => webAppState.PopToast(t)" @key=toast />
        }
    </div>

    <main class="h-100 w-100 d-flex" style="@(webAppState.IsLoading ? "filter:blur(2px);" : "")">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary col-2">
            <a href="/app" class="d-flex align-items-center justify-content-center justify-content-xl-start mb-0 me-xl-auto link-body-emphasis text-decoration-none">
                <img class="bi pe-none me-xl-2" src="/icon-512.png" width="32" height="32" />
                <span class="d-none d-xl-inline fs-4">Chip Web</span>
            </a>
            <hr>
            <AuthorizeView>
                <ul class="nav nav-pills flex-column mb-auto">
                    @foreach (var navItem in navItems)
                    {
                        <NavItemTemplate NavItem="navItem" AuthState="context" />
                    }
                </ul>

                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex justify-content-center justify-content-lg-start align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="@context.User.FindFirst(ClaimDefaults.Avatar).Value" alt="" width="32" height="32" class="rounded-circle me-2" />
                        <strong class="d-none d-lg-inline text-truncate">@context.User.Identity.Name</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                        <li><a class="dropdown-item" href="/app/user/settings">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/app/developer/applications">Developer</a></li>
                        <li><a class="dropdown-item" href="/swagger" target="_blank">Swagger</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                    </ul>
                </div>
            </AuthorizeView>
        </div>
        <div class="p-3 flex-fill overflow-scroll">
            @Body
        </div>
    </main>
</CascadingValue>

@code {
    private WebAppState webAppState = new();

    protected override void OnInitialized()
    {
        webAppState.StateChanged += StateHasChanged;
    }
}