﻿@inherits LayoutComponentBase

<main class="h-100 w-100 d-flex align-items-center">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="/icon-512.png" class="d-block mx-lg-auto img-fluid" alt="ChipBot" width="512" height="512" loading="eager">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">ChipBot</h1>
                <div>
                    @Body
                </div>
            </div>
        </div>
    </div>
</main>
