﻿@using ChipBot.Client.Services
@inject ThemeManager themeService

<button class="btn btn-outline-secondary dropdown-toggle d-flex align-items-center" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme">
    <i class="@currentTheme.Icon my-1"></i>
    <span class="visually-hidden">Toggle theme</span>
</button>
<ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
    @foreach (var theme in ThemeManager.Themes)
    {
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="@theme.Value" aria-pressed="false" @onclick="() => OnThemeChange(theme.Value)">
                <i class="@theme.Icon me-2 opacity-50 theme-icon"></i>
                @theme.Name
                <i class="bi bi-check2 ms-auto @(theme.Value == currentThemeKey ? "" : "d-none")"></i>
            </button>
        </li>
    }
</ul>

@code {
    private string currentThemeKey;

    private Theme currentTheme => ThemeManager.Themes.FirstOrDefault(t => t.Value == currentThemeKey) ?? ThemeManager.Themes.First();

    protected override async Task OnInitializedAsync()
    {
        currentThemeKey = await themeService.GetCurrentTheme();
    }

    private async Task OnThemeChange(string theme)
    {
        await themeService.SetTheme(theme);
        currentThemeKey = theme;
    }
}